<template name="servers">
  {{!-- Left Side - Server List --}}
  <div class="col-xs-5">
    <div class="list-group">
      {{ #if currentUser }}
        {{!-- Modal --}}
        <div class="list-group-item">
          <div class="add-server">
            {{> add_server_prompt }}
          </div>
        </div>
      {{/if}}
      {{!-- List Header --}}
      <h4 class="list-group-item">Browse Servers</h4>
      {{ #each server }}
        <a class="list-group-item get-server-info {{ isActiveRoute regex=this._id className="bg-success" }}" href="">
         {{ decodeString postTitle }} - ${{ rateToDollar rate }} for {{ accessTime }}/{{ convertAccessType accessTimeType }}
        </a>
      {{ /each }}
    </div>
  </div> {{!-- Server listing --}}

  {{!-- Right Side - Selected Server Info --}}
  <div class="col-xs-7">
    {{ #with selectedServer }}
      {{ > server_info }}
    {{ /with }}
  </div>
</template>

<template name="server_info">
  <h3>Title: {{ decodeString this.postTitle }}</h3>
  <div>
    Owner: {{ serverOwner }}
  </div>
  <div>
    Created At: {{ createdAt }}
  </div>
    {{ #if currentUser }}
      <button class="btn btn-success btn-sm stripe-button">Buy Access</button>
      {{#if purchased _id }}
        You have purchased access to this server!
      {{ /if }}
    {{ else }}
      <p class="bg-warning">Please sign in to purchase</p>
    {{ /if }}
  <div>
    ${{ rateToDollar rate }} for {{ accessTime }}/{{ convertAccessType accessTimeType }}
  </div>
  <h6>Description: </h6>
  <p class="text-primary">
    {{ decodeString postDescription }}
  </p>
</template>