<template name="servers">
  {{!-- Modal --}}
  <div class="add-server">
    {{> add_server_prompt }}
  </div>

  {{!-- Left Side - Server List --}}
  <div class="col-xs-5">
    <ol class="list-group">
      {{ #each server }}
        <li class="list-group-item">
          <button class="btn btn-info btn-sm get-server-info">{{ decodeString postTitle }} - ${{ rateToDollar rate }} for {{ accessTime }}/{{ convertAccessType }}</button>
        </li>
      {{ /each }}
    </ol>
  </div> {{!-- Server listing --}}

  {{!-- Right Side - Selected Server Info --}}
  <div class="col-xs-7">
    {{ #with selectedServer }}
      {{ > server_info }}
    {{ /with }}
  </div>
</template>

<template name="server_info">
  <h3>Title: {{ decodeString this.postTitle }}</h3>
  <div>
    Owner: {{ serverOwner }}
  </div>
  <div>
    Created At: {{ createdAt }}
  </div>
  <button class="btn btn-success btn-sm stripe-button">Buy Access</button>
  <div>
    ${{ rateToDollar rate }} for {{ accessTime }}/{{ convertAccessType accessTimeType }}
  </div>
  <h6>Description: </h6>
  <p class="text-primary">
    {{ decodeString postDescription }}
  </p>
</template>